#### Regression Based on only datetime information
Goal: Predict the value of pm10 based on datetime information (f.e. day of the week, hour of the day, month of the year, year)
- Train once with year and once without year
Regression models: 
1. Decision Tree
2. Random Forest
3. Knn
4. Lineare Regression  

To-Do: train 2-3 models with random train-validate split and time block split

In [12]:
# GET ALL THE JSONS INTO ONE DATAFRAME
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os
import json
import glob

In [13]:
# Set the search path for files (assuming the directory is relative to the current script)
file_path_mc124 = os.path.join("mc124_data", "*.json")
files = glob.glob(file_path_mc124)

# Create empty list to store dataframes
li_all_files = []

# Loop through list of files and read each one into a dataframe and append to list
for f in files:
    # Read in json
    temp_df = pd.read_json(f)
    # Append df to list
    li_all_files.append(temp_df)

# Optionally concatenate all dataframes into one if needed
if li_all_files:
    combined_df = pd.concat(li_all_files)
    print(f'Combined dataframe shape: {combined_df.shape}')
else:
    print('No dataframes were created.')

Combined dataframe shape: (542555, 6)

In [14]:
combined_df.sample()

                      datetime station core component period  value
563  2011-09-23 04:00:00+02:00   mc124  nox    nox_1h     1h   75.0

In [16]:
# FILTER BY PARTICLE AND ONLY KEEP THE DATETIME, STATION, PERIOD AND VALUE FEATURE SINCE THE REST ARE CONSTANT INFORMATION (station, core, component, period)
df_reduced = combined_df[['datetime', 'station', 'core', 'value']]
df_reduced.sample(3)

# CUT OFF THE TIMEZONE INFORMATION FROM THE DATETIME TO AVOID CONVERSION ISSUES DUE TO TIME CHANGE IN MARCH AND OCTOBER
df_reduced.loc[:, 'datetime'] = df_reduced['datetime'].astype(str).str.slice(0, 19)
#df_pm10_reduced.loc[:, 'datetime'] = pd.to_datetime(df_pm10_reduced['datetime'], format='mixed')
df_reduced['datetime'] = pd.to_datetime(df_reduced['datetime'], format='mixed')
df_reduced.loc[:, 'datetime'] = df_reduced['datetime'].dt.tz_localize(None)
df_reduced.info()

<class 'pandas.core.frame.DataFrame'>
Index: 542555 entries, 0 to 3654
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   datetime  542555 non-null  datetime64[ns]
 1   station   542555 non-null  object
 2   core      542555 non-null  object
 3   value     539422 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 20.7+ MB

C:\Users\a_n_n\AppData\Local\Temp\ipykernel_25448\2472174257.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced['datetime'] = pd.to_datetime(df_reduced['datetime'], format='mixed')

In [17]:
df_reduced.sample(3)

                datetime station core  value
2367 2022-02-09 06:00:00   mc124  no2   27.0
1303 2022-02-18 03:00:00   mc124   no    4.0
778  2017-02-22 12:00:00   mc124   no   39.0

In [25]:
#use loc to add it to every for every row
df_reduced['hour'] = df_reduced['datetime'].dt.strftime('%H')  # Hour (00-23)
df_reduced['day'] = df_reduced['datetime'].dt.strftime('%d')  # Day of the month (01-31)
df_reduced['month'] = df_reduced['datetime'].dt.strftime('%m')  # Month (01-12)
df_reduced['year'] = df_reduced['datetime'].dt.strftime('%Y')  # Month (01-12)
df_reduced.sample(3)

                datetime station  core  value day hour month  year
1877 2021-04-15 08:00:00   mc124   no2   81.0  15   08    04  2021
3635 2019-05-01 16:00:00   mc124  pm10   27.0  01   16    05  2019
1965 2012-09-03 16:00:00   mc124   no2  118.0  03   16    09  2012

#### TODO
SPLIT DATETIME (reference: Bike Rental Data Set)
- [ x ] month
- [ x ] day of week
- [ x ] time of day
- [ ] holiday