In [1]:
# GET ALL THE JSONS INTO ONE DATAFRAME
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os
import json

In [2]:
# Set the search path for files (assuming the directory is relative to the current script)
df = pd.read_csv('../data/df_fine_dust_wind_merged.csv', parse_dates=['datetime'])

df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 309715 entries, 172992 to 542554
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   datetime        309715 non-null  datetime64[ns]
 1   station         309715 non-null  object
 2   core            309715 non-null  object
 3   pm10_value      309715 non-null  float64
 4   hour            309715 non-null  float64
 5   day             309715 non-null  float64
 6   month           309715 non-null  float64
 7   year            309715 non-null  float64
 8   day_of_week     309715 non-null  float64
 9   is_weekend      309715 non-null  float64
 10  wind_speed      309715 non-null  float64
 11  wind_direction  309715 non-null  float64
dtypes: datetime64[ns](1), float64(9), object(2)
memory usage: 30.7+ MB

In [3]:
df.sample(5)

,datetime,station,core,pm10_value,hour,day,month,year,day_of_week,is_weekend,wind_speed,wind_direction
312898,2019-03-27 13:00:00,mc124,no,86.0,13.0,27.0,3.0,2019.0,2.0,0.0,7.9,270.0
216743,2016-12-10 23:00:00,mc124,nox,136.0,23.0,10.0,12.0,2016.0,5.0,1.0,9.5,260.0
483751,2023-01-05 15:00:00,mc124,pm2,7.0,15.0,5.0,1.0,2023.0,3.0,0.0,18.4,300.0
201397,2016-07-17 19:00:00,mc124,no2,55.0,19.0,17.0,7.0,2016.0,6.0,1.0,6.5,320.0
202505,2016-07-06 06:00:00,mc124,no2,21.0,6.0,6.0,7.0,2016.0,2.0,0.0,15.0,270.0

In [6]:
df.rename(columns={'pm10_value': 'value'}, inplace=True)
df['is_weekend'] = df['is_weekend'].astype(bool)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 309715 entries, 172992 to 542554
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   datetime        309715 non-null  datetime64[ns]
 1   station         309715 non-null  object
 2   core            309715 non-null  object
 3   value           309715 non-null  float64
 4   hour            309715 non-null  float64
 5   day             309715 non-null  float64
 6   month           309715 non-null  float64
 7   year            309715 non-null  float64
 8   day_of_week     309715 non-null  float64
 9   is_weekend      309715 non-null  bool
 10  wind_speed      309715 non-null  float64
 11  wind_direction  309715 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(8), object(2)
memory usage: 28.7+ MB