Goals:
- compare average pm10 of each year --> x-axe == year
- compare average pm10 of each month --> x-axe == month && hue == year

Todo:
- create dataframe which contains the total pm10, total days and averages of each year
    - columns: year, total pm10, total days, average pm10
    - rows: 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2020, 2023, (2024 as outlier with 5 months done)
 
- create dataframe which contains (total pm10, total days and) average of each month per year
    - columns: month, avg 2013, avg 2014, avg 2014, etc
    - rows: jan, feb, march, april, may, june, july, august, september, october, november, december

#### Yearly Data Summary Idea - Table view

| Year | Total PM10 | Total Days | Average PM10 |
|------|------------|------------|--------------|
| 2013 |            |            |              |
| 2014 |            |            |              |
| 2015 |            |            |              |
| 2016 |            |            |              |
| 2017 |            |            |              |
| 2018 |            |            |              |
| 2019 |            |            |              |
| 2020 |            |            |              |
| 2021 |            |            |              |
| 2022 |            |            |              |
| 2023 |            |            |              |
| 2024 |            |            |              |

#### Monthly Data Summary Idea - Table view

| Month     | Avg 2013 | Avg 2014 | Avg 2015 | Avg 2016 | Avg 2017 | Avg 2018 | Avg 2019 | Avg 2020 | Avg 2021 | Avg 2022 | Avg 2023 | Avg 2024 |
|-----------|----------|----------|----------|----------|----------|----------|----------|----------|----------|----------|----------|----------|
| January   |          |          |          |          |          |          |          |          |          |          |          |          |
| February  |          |          |          |          |          |          |          |          |          |          |          |          |
| March     |          |          |          |          |          |          |          |          |          |          |          |          |
| April     |          |          |          |          |          |          |          |          |          |          |          |          |
| May       |          |          |          |          |          |          |          |          |          |          |          |          |
| June      |          |          |          |          |          |          |          |          |          |          |          |          |
| July      |          |          |          |          |          |          |          |          |          |          |          |          |
| August    |          |          |          |          |          |          |          |          |          |          |          |          |
| September |          |          |          |          |          |          |          |          |          |          |          |          |
| October   |          |          |          |          |          |          |          |          |          |          |          |          |
| November  |          |          |          |          |          |          |          |          |          |          |          |          |
| December  |          |          |          |          |          |          |          |          |          |          |          |          |

This way no standard deviation tho?? Need to look into the documentation again

In [1]:
# GET ALL THE JSONS INTO ONE DATAFRAME
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os
import json
import glob

# Set the search path for files (assuming the directory is relative to the current script)
file_path_mc124 = os.path.join("..", "mc010_wedding", "*.json")
files = glob.glob(file_path_mc124)

# Create empty list to store dataframes
li_all_files = []

# Loop through list of files and read each one into a dataframe and append to list
for f in files:
    # Read in json
    temp_df = pd.read_json(f)
    # Append df to list
    li_all_files.append(temp_df)

# Optionally concatenate all dataframes into one if needed
if li_all_files:
    combined_df = pd.concat(li_all_files)
    print(f'Combined dataframe shape: {combined_df.shape}')
else:
    print('No dataframes were created.')

Combined dataframe shape: (627044, 6)

In [2]:
# CHECK SAMPLE OF DATAFRAME
combined_df.sample()

                       datetime station core component period  value
3261  2016-10-12T14:00:00+02:00   mc010  cht    cht_1h     1h    1.0

In [3]:
# FILTER BY pm10 AND ONLY KEEP THE DATETIME AND VALUE FEATURE SINCE THE REST IS FIX
df_pm10 = combined_df[(combined_df['core'] == 'pm10')]
df_pm10_reduced = df_pm10[['datetime', 'value']]
df_pm10_reduced.head(5)

                     datetime  value
0   2014-01-31 23:00:00+01:00   75.0
7   2014-01-31 22:00:00+01:00   74.0
14  2014-01-31 21:00:00+01:00   72.0
21  2014-01-31 20:00:00+01:00   73.0
28  2014-01-31 19:00:00+01:00   67.0

In [4]:
nan_values_complete = df_pm10_reduced['value'].isna().sum()
nan_values_complete

573

In [5]:
nan_rows = df_pm10_reduced[df_pm10_reduced['value'].isna()]
nan_rows.head(100)

                       datetime  value
4291  2014-01-06 10:00:00+01:00    NaN
4298  2014-01-06 09:00:00+01:00    NaN
4305  2014-01-06 08:00:00+01:00    NaN
4312  2014-01-06 07:00:00+01:00    NaN
4319  2014-01-06 06:00:00+01:00    NaN
...                         ...    ...
4956  2014-01-02 11:00:00+01:00    NaN
4963  2014-01-02 10:00:00+01:00    NaN
4970  2014-01-02 09:00:00+01:00    NaN
4977  2014-01-02 08:00:00+01:00    NaN
4984  2014-01-02 07:00:00+01:00    NaN

[100 rows x 2 columns]

In [6]:
# check if also NaN when loading file singualily or if globbing it caused the null value
file_path_oct23 = os.path.join("mc124_data","mc124_data_2023_10.json") 
df = pd.read_json(file_path_oct23)
df_pm10_oct23 = df[(df['core'] == 'pm10')]
df_pm10_oct23.head(2)

                    datetime station  core component period  value
0  2023-10-31T23:00:00+01:00   mc124  pm10   pm10_1h     1h    6.0
5  2023-10-31T22:00:00+01:00   mc124  pm10   pm10_1h     1h    6.0

In [7]:
nan_values_oct23 = df_pm10_oct23['value'].isna().sum()
nan_values_oct23

2

In [8]:
# check if also NaN when loading file singualily or if globbing it caused the null value
file_path_mar16 = os.path.join("mc124_data","mc124_data_2016_03.json") 
df = pd.read_json(file_path_mar16)
df_pm10_mar16 = df[(df['core'] == 'pm10')]
nan_values_mar16 = df_pm10_mar16['value'].isna().sum()
nan_values_mar16

531

#### NaN is not caused by me but inherently in there

### DATETIME nicht nur anderer Datentyp, sondern auch Teilweise falsche regex -- AHHHHH

In [9]:
# QUICKFIX: convert datetime to UTC

#df_pm10_reduced.loc[:, 'datetime'] = pd.to_datetime(df_pm10_reduced['datetime'], utc=True)
#df_pm10_reduced['datetime'] = pd.to_datetime(df_pm10_reduced['datetime'], utc=True)
#df_pm10_reduced['datetime'].dt.tz_convert('UTC') 
#df_pm10_reduced['datetime'] = pd.to_datetime(df_pm10_reduced['datetime'], utc=True)
#df_pm10_reduced['datetime'] = df_pm10_reduced['datetime'].astype(str)
# Convert 'datetime' column back to datetime format
#df_pm10_reduced['datetime'] = pd.to_datetime(df_pm10_reduced['datetime'], utc=True)
df_pm10_reduced.info()

<class 'pandas.core.frame.DataFrame'>
Index: 91242 entries, 0 to 4242
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  91242 non-null  object
 1   value     90669 non-null  float64
dtypes: float64(1), object(1)
memory usage: 2.1+ MB

In [10]:
df_pm10_reduced.sample(10)

                       datetime  value
3018  2023-12-11 00:00:00+01:00   12.0
1446  2017-03-21T21:00:00+01:00   13.0
3492  2018-03-07T16:00:00+01:00   41.0
1698  2022-07-20 04:00:00+02:00   15.0
4008  2023-12-04 03:00:00+01:00   24.0
2485  2014-08-17 04:00:00+02:00   12.0
2634  2021-10-13T16:00:00+02:00    8.0
1758  2022-01-19 18:00:00+01:00   17.0
3282  2023-08-09 04:00:00+02:00    6.0
1980  2018-02-15 05:00:00+01:00   36.0

In [11]:
nan_values = df_pm10_reduced['value'].isna().sum()
nan_values

573

In [12]:
# SORT BY datetime AS INDEX
df_pm10_reduced_index = df_pm10_reduced.set_index('datetime')
nan_values_new_index = df_pm10_reduced['value'].isna().sum()
nan_values_new_index
#df_pm10_reduced_sorted.describe()

573

In [13]:
df_pm10_reduced_sorted = df_pm10_reduced.sort_index()
nan_values_sorted = df_pm10_reduced_sorted['value'].isna().sum()
nan_values_sorted
#df_pm10_reduced_sorted.tail(10)

573

In [14]:
# TODO remove march of 2016 since it contains the majority of NaN values

In [15]:
import re
def extract_year_month(datetime_obj):
    # Convert to string if it's not already
    if isinstance(datetime_obj, pd.Timestamp):
        datetime_str = datetime_obj.strftime('%Y-%m-%d %H:%M:%S%z')
    elif isinstance(datetime_obj, str):
        datetime_str = datetime_obj
    else:
        return (np.nan, np.nan)  # Return NaN if datetime_obj is not string or Timestamp

    # Regex pattern to match date components (YYYY-MM)
    pattern = r'(\d{4})-(\d{2})'

    # Use regex to find year and month
    match = re.search(pattern, datetime_str)
    if match:
        year = int(match.group(1))
        month = int(match.group(2))
        return (year, month)
    else:
        return (np.nan, np.nan)  # Return NaN if pattern not found

# Apply function to extract year and month
#df_pm10_reduced['year'], df_pm10_reduced['month'] = zip(*df_pm10_reduced['datetime'].apply(extract_year_month))
df_pm10_reduced[['year', 'month']] = df_pm10_reduced['datetime'].apply(extract_year_month).apply(pd.Series)
print("DataFrame with extracted year and month:")
print(df_pm10_reduced[['datetime', 'year', 'month']])

DataFrame with extracted year and month:
                       datetime  year  month
0     2014-01-31 23:00:00+01:00  2014      1
7     2014-01-31 22:00:00+01:00  2014      1
14    2014-01-31 21:00:00+01:00  2014      1
21    2014-01-31 20:00:00+01:00  2014      1
28    2014-01-31 19:00:00+01:00  2014      1
...                         ...   ...    ...
4218  2024-05-01 04:00:00+02:00  2024      5
4224  2024-05-01 03:00:00+02:00  2024      5
4230  2024-05-01 02:00:00+02:00  2024      5
4236  2024-05-01 01:00:00+02:00  2024      5
4242  2024-05-01 00:00:00+02:00  2024      5

[91242 rows x 3 columns]

C:\Users\a_n_n\AppData\Local\Temp\ipykernel_16076\855985485.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pm10_reduced[['year', 'month']] = df_pm10_reduced['datetime'].apply(extract_year_month).apply(pd.Series)
C:\Users\a_n_n\AppData\Local\Temp\ipykernel_16076\855985485.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pm10_reduced[['year', 'month']] = df_pm10_reduced['datetime'].apply(extract_year_month).apply(pd.Series)

In [17]:
# Filter rows where value is NaN
nan_rows = df_pm10_reduced[df_pm10_reduced['value'].isna()]

# Count NaN values by month
nan_count_by_month = nan_rows.groupby(['year', 'month']).size().reset_index(name='NaN_count')

# Display the NaN count by month
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
print("NaN count by month:")
print(nan_count_by_month)

NaN count by month:
    year  month  NaN_count
0   2014      1        131
1   2014      3         55
2   2014      4         13
3   2014      5          3
4   2014      7         32
5   2014      8          2
6   2014     10          2
7   2015      1          1
8   2015      5          3
9   2015      6          1
10  2015      7          1
11  2015      9          1
12  2015     10          1
13  2015     11          2
14  2016      3          1
15  2016      6         31
16  2016      8         32
17  2016      9          1
18  2016     10          1
19  2016     11         40
20  2017      2          2
21  2017      3          6
22  2017      4          1
23  2017      5          1
24  2017      6         11
25  2017      9         34
26  2017     10         12
27  2017     11         26
28  2017     12          1
29  2018      2          2
30  2018      3          1
31  2018      4          1
32  2018      6          3
33  2018     10          3
34  2018     11         28
35  2019      3          1
36  2019      5          3
37  2019      6          1
38  2019     10          4
39  2019     11         25
40  2020      6          1
41  2020      9          1
42  2020     10          1
43  2020     12          1
44  2021      8          2
45  2021     10          2
46  2021     11          2
47  2022      2         13
48  2022      4          2
49  2022      5          2
50  2022      6          3
51  2022      9          1
52  2022     10          1
53  2023      6          3
54  2023      7          3
55  2023      9          3
56  2023     10          3
57  2023     11          1
58  2024      3          1
59  2024      4          1
60  2024      5          6